 <h2>Add A Burger</h2>


    <form action="/burger" method="POST">
      <input type="text" id="name" name="newBurgerName">
      <button type="submit" >Add Burger</button>
    </form>
  </div>
</div>
 
 
  {{#each burger}}
  <hr/>
  
      <p>Burger Name: {{name}}</p>
      <p>Has burger been devoured? {{devoured}}</p>
      <form action="/burger/{{this.id}}" method="PUT">
                <button type="submit" > Devour</button></form>
    
    <hr/>
  {{/each}}
</ul>

